body {
	background-color: slategrey;
	color: bisque ;
}

header {
	text-align: center;
}

.prospect-form-subheader {
	font-size: 1.5em;
	color: peru
}

.front-page-prospect-form {
	width: auto;
	margin: auto;
	padding: auto;
	border: 6px solid #333;
	border-radius: 14px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	display: inline-block;
	background-color: rgb(50, 66, 83);

}

h2 {
	text-align: center;
}

#prospects-header {
	text-align: center;
}

.prospect-form-submit-button {
	text-align: center;
}